.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    color: #5D6975;
    text-decoration: underline;
  }
  /*encabezado morado*/
  table thead tr {
    height: 80px;
    background: rgb(105, 102, 102);
  }
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #310058;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
  }
  
  header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  #logo {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left:30px ;
    margin-right: 40px;
   
  }
  
  #logo img {
    width: 10px;
    height: 10px;
  
  }
  
  h1 {
    border-top: 1px solid  rgb(67, 0, 80);
    border-bottom: 1px solid rgb(67, 0, 80);
    color: rgb(67, 0, 80);
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: url(../img/dimension.png);
  }
  
  #project {
    float: left;
    color: rgb(0, 0, 0);
  }
  
  #project span {
    color: rgb(67, 0, 80);
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
  }
  
  #company {
    float: right;
    text-align: right;
    
  }
  
  #project div{
    font-size: 14px;    
  }
  #company div {
    white-space: nowrap;    
    
  }
  #negocio {
    font-size: 18px;
    color: rgb(67, 0, 80);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  table tr:nth-child(2n-1) td {
    background: rgb(227, 220, 230);
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
    font-size: 30px;
  }
  
  table .service {
    text-align: left;
  }
  table td.service{
    vertical-align: top;
  }
  table .servic {
    text-align: left;
  }
  table td.servic{
    vertical-align: top;
  }
  table td {
    font-size: 25px;
    padding: 20px;
    text-align: right;
  }
  
  
  
  
  table td.total {
    font-size: 30px;
    color : rgb(67, 0, 80);
  }
  
  table td.grand {
    border-top: 1px solid  rgb(67, 0, 80);
    
  }
  
  #notices .notice {
    color: rgb(115, 117, 93);
    font-size: 1.2em;
  }
  
  footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
  }